<div class="content-home">
    <div class="principal-item">
        <div class="info">
            <span>SPRING SALES</span>
            <h1>Get 30% off</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quae corrupti ex odit eveniet magni distinctio vel voluptatibus beatae molestias, quo modi animi officia minima! Asperiores doloremque vitae consequuntur hic.</p>
            <a class="button is-info">
                <strong>Shop Now</strong>
            </a>
        </div>
        <div class="image">
            <img class="" src="../../../../assets/img/banner.png" alt="Placeholder image">
        </div>
    </div>
</div>
