<div class="">
  <div class="column p-5 is-one-quarter">
    <div class="navbar-item has-dropdown is-hoverable">
      <a 
        class="navbar-link is-size-6">
        Filtrar productos
      </a>
  
      <div class="navbar-dropdown">
        <a class="navbar-item">
          Precio mas bajo
        </a>
        <a class="navbar-item">
          Precio mas alto
        </a>
        <!-- <a class="navbar-item">
          Ropa
        </a>
        <a class="navbar-item">
          Joyeria
        </a>
        <a class="navbar-item">
          Maquillaje
        </a>
        <a class="navbar-item">
          Zapatos
        </a> -->
      </div>
    </div>
  </div>
  
  <div class="p-5">
    <div class="columns is-desktop">
      <div class="column">
        <a [routerLink]="['/latest/product', id]">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22001029011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Top holgado de punto con cuello POLO
                </span>
                <br>
                US$ 45.00
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2021/05/030524210.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Bolso bombonera
                </span>
                <br>
                US$ 85.90
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22001026011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Top suelto de manga corta
                </span>
                <br>
                US$ 180.70
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/Untitled-Catalog39452.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Bolsa de lona
                </span>
                <br>
                US$ 220.10
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22011055011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Shorts holgados plisados con elástico
                </span>
                <br>
                US$ 177.30
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/04/22001015011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Top sin mangas de punto a rayas
                </span>
                <br>
                US$ 68.00
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22011054011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Pantalón ancho con cordón elástico
                </span>
                <br>
                US$ 128.00
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/04/22011026011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Vestido largo plisado con abertura
                </span>
                <br>
                US$ 158.00
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22001029011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Top holgado de punto con cuello POLO
                </span>
                <br>
                US$ 45.00
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2021/05/030524210.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Bolso bombonera
                </span>
                <br>
                US$ 85.90
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22001026011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Top suelto de manga corta
                </span>
                <br>
                US$ 180.70
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/Untitled-Catalog39452.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Bolsa de lona
                </span>
                <br>
                US$ 220.10
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/home">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://cdn.cerealoutfit.com/2022/06/22011055011.jpg" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <span class="has-text-weight-semibold">
                  Shorts holgados plisados ​​con elástico
                </span>
                <br>
                US$ 177.30
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="py-6 px-5">
    <nav class="pagination is-right" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previo</a>
      <a class="pagination-next">Siguiente</a>
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
      </ul>
    </nav>
  </div>
</div>

