<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">
          Home
        </a>
  
        <a class="navbar-item">
          Shop
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Products
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Product - Simple
            </a>
            <a class="navbar-item">
              Product - Variable
            </a>
            <a class="navbar-item">
              Product - Image Gallery
            </a>
          </div>
        </div>

        <a class="navbar-item">
            Blog
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div class="navbar-item has-dropdown is-hoverable">
                <a 
                  class="navbar-link"
                  routerLink="/men">
                  More
                </a>
        
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                        Sell on WebShop
                    </a>
                    <a class="navbar-item">
                        24/7 Support
                    </a>
                    <a class="navbar-item">
                        Advertise
                    </a>
                    <a class="navbar-item">
                        Download App
                    </a>
                </div>
            </div>
            <a class="button is-info">
              <strong>Shop Now</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>