<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/Carint" target="_blank">
      <h1 class="title is-4"><span class="has-text-weight-light">Shop</span>Center</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="control-input">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="What are you looking for...">
        </div>
        <div class="control">
          <a class="button">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light is-small">
            <span class="icon">
              <i class="fas fa-user-circle"></i>
            </span>
          </a>
          <a class="button is-light is-small">
            <span class="icon">
              <i class="fas fa-shopping-cart"></i>
            </span>
          </a>
          <div class="money">
            <span>
              $0.00
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>