.navbar {
    background-color: #F8F8F8;

    .control-input {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .input {
            width: 600px;
        }

        .control {
            .button {
                .icon {
                    font-size: 14px;
                }
            }
        }
    }
}

.buttons {
    .button {
        background-color: #F8F8F8;
        
        .icon {
            margin-top: 8px;
            font-size: 20px;
        }
    }

    .money {
        span {
            font-size: 18px;
            color: #3e8ed0;
            font-weight: 600;
        }
    }
}
