<div class="px-5 pt-5 pb-6">
  <div class="columns is-desktop">
    <div class="column mx-6">
      <div class="row mb-6">
        <h1 class="title is-5">Mi carrito (2)</h1>
        <h2 class="subtitle is-6">Listado de productos seleccionados</h2>
      </div>

      <hr>

      <div class="columns my-4">
        <div class="column is-one-fifth">
          <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57452.jpg" alt="Placeholder image">
        </div>
        <div class="column is-three-fifths">
          <h2 class="title is-6">Camiseta Sin Mangas</h2>
          <h2 class="subtitle is-6">Con Hombros Acolchados De Punto Recortado Multicolor - Negro, F</h2>
          <span>USD$ 77.99</span> 
        </div>
        <div class="column">
          <div class="row mb-3">
            <span class="mr-4 is-size-5"><a>-</a></span>
            <span class="mr-4 is-size-5">3</span>
            <span class="mr-4 is-size-5"><a>+</a></span>
          </div>
          <div class="row mb-3">
            <span>USD$ 233.97</span>
          </div>
          <div class="row mb-3">
            <a>Quitar producto</a>
          </div>
        </div>
      </div>

      <div class="columns my-4">
        <div class="column is-one-fifth">
          <img class="" src="https://cdn.cerealoutfit.com/2022/06/22011055011.jpg" alt="Placeholder image">
        </div>
        <div class="column is-three-fifths">
          <h2 class="title is-6">Shorts holgados</h2>
          <h2 class="subtitle is-6">Shorts holgados plisados con elástico</h2>
          <span>USD$ 177.30</span> 
        </div>
        <div class="column">
          <div class="row mb-3">
            <span class="mr-4 is-size-5"><a>-</a></span>
            <span class="mr-4 is-size-5">1</span>
            <span class="mr-4 is-size-5"><a>+</a></span>
          </div>
          <div class="row mb-3">
            <span>USD$ 177.30</span>
          </div>
          <div class="row mb-3">
            <a>Quitar producto</a>
          </div>
        </div>
      </div>

      <hr>
    </div>


    <div class="column mx-6">
      <div class="row mb-6">
        <h1 class="title is-5">Resumen del pedido</h1>
        <h2 class="subtitle is-6">Detalle de los costos de la compra</h2>
      </div>

      <hr>

      <div class="columns mx-4">
        <div class="column">
          <div class="row my-4">
            <span>Total parcial</span>
          </div>
          <div class="row my-4">
            <span>Costo de entrega</span>
          </div>
          <div class="row my-4">
            <span class="title is-5">Total</span>
          </div>
        </div>
        <div class="column">
          <div class="row my-4">
            <span>USD$ 311.96</span>
          </div>
          <div class="row my-4">
            <span>USD$ 15.66</span>
          </div>
          <div class="row my-4">
            <span class="title is-5">USD$ 327.62</span>
          </div>
        </div>
      </div>

      <hr>

      <div class="column mb-6 mx-4">
        <button class="button is-success is-fullwidth has-text-weight-medium">COMFIRMAR COMPRA</button>
      </div>
    </div>
  </div>
</div>

