<div class="px-5 pt-3 pb-6">
  <div class="column">
    <table class="table table-product is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-weight-light">Descripción del producto</th>
          <th class="has-text-weight-light">Precio</th>
          <th class="has-text-weight-light">Cantidad</th>
          <th class="has-text-weight-light">Total parcial</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <th>
            <div class="product_description">
              <span><a class="has-text-weight-bold is-size-5 pl-4">X</a></span>
              <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57452.jpg" alt="Placeholder image">
              Camiseta Sin Mangas Con Hombros Acolchados De Punto Recortado Multicolor - Negro, F
            </div>
          </th>
          <th>
            <div class="product_description">
              <span>USD$ 77.99</span> 
            </div>
          </th>
          <th>
            <div class="product_description">
              <span class="mr-4 is-size-5"><a>-</a></span>
              <span class="mr-4 is-size-5">3</span>
              <span class="mr-4 is-size-5"><a>+</a></span>
            </div>
          </th>
          <th>
            <div class="product_description">
              <span>USD$ 233.97</span>
            </div>
          </th>
        </tr>
  
        <tr>
          <th>
            <div class="product_description">
              <span><a class="has-text-weight-bold is-size-5 pl-4">X</a></span>
              <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57452.jpg" alt="Placeholder image">
              Camiseta Sin Mangas Con Hombros Acolchados De Punto Recortado Multicolor - Negro, F
            </div>
          </th>
          <th>
            <div class="product_description">
              <span>USD$ 77.99</span> 
            </div>
          </th>
          <th>
            <div class="product_description">
              <span class="mr-4 is-size-5"><a>-</a></span>
              <span class="mr-4 is-size-5">1</span>
              <span class="mr-4 is-size-5"><a>+</a></span>
            </div>
          </th>
          <th>
            <div class="product_description">
              <span>USD$ 77.99</span>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="columns is-centered">
    <div class="column is-one-third my-5 is-desktop">
      <div class="my-3 has-text-centered">
        <span class="has-text-weight-semibold is-size-4">Total del carrito</span>
      </div>
  
      <div>
        <table class="table is-fullwidth">
          <!-- <thead>
            <tr>
              <th>Total del carrito</th>
            </tr>
          </thead> -->
      
          <tbody>
            <tr>
              <th>Total parcial</th>
              <th>USD$ 311.96</th>
            </tr>
            <tr>
              <th>Costo de entrega</th>
              <th>USD$ 15.66</th>
            </tr>
            <tr>
              <th>Total</th>
              <th>USD$ 327.62</th>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="my-4">
        <button class="button is-success is-medium is-fullwidth">Verificar compra</button>
      </div>
    </div>
  </div>
</div>

