<div class="px-5 pt-3 pb-6">
  <div class="columns">
    <div class="column">
      <div class="columns px-5 py-4">
        <div class="column is-one-fifth">
          <div class="row pb-4">
            <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57487.jpg" alt="Placeholder image">
          </div>
          <div class="row pb-4">
            <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57491.jpg" alt="Placeholder image">
          </div>
          <div class="row pb-4">
            <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57445.jpg" alt="Placeholder image">
          </div>
        </div>
        <div class="column">
          <img class="" src="https://cdn.cerealoutfit.com/2022/07/Untitled-Catalog57452.jpg" alt="Placeholder image">
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="pt-6">
        <div class="title is-4">Camiseta sin mangas con hombros acolchados de punto recortada</div>
        <div class="subtitle is-5 has-text-weight-light">US$ 38.70</div>
  
        <div class="mb-5">
          <div class="control">
            <div class="is-size-6 mb-2">Tallas:</div>
            <label class="radio">
              <input type="radio" name="answer" checked>
              <span class="ml-2">S</span>
            </label>
            <label class="radio ml-5">
              <input type="radio" name="answer">
              <span class="ml-2">M</span>
            </label>
            <label class="radio ml-5">
              <input type="radio" name="answer">
              <span class="ml-2">L</span>
            </label>
          </div>
        </div>

        <div class="mb-5">
          <div class="is-size-6 mb-2">Cantidad:</div>
          <span class="mr-4 is-size-5"><a>-</a></span>
          <span class="mr-4 is-size-5">0</span>
          <span class="mr-4 is-size-5"><a>+</a></span>
        </div>

        <div class="mb-5">
          <button class="button is-link">Agregar al carrito</button>
        </div>
  
        <div class="content">
          <p>
            Hombreras/corte corto/punto jaspeado
          </p>
  
          <ol>
            <li>Material: Tejido</li>
            <li>Lugar de suministro: Corea</li>
            <li>Lugar de procesamiento: Corea del Sur</li>
          </ol>
  
          <blockquote>El color de la imagen puede variar debido a las diferentes pantallas de la computadora personal, consulte el producto real.</blockquote>
        </div>
  
        <div class="tabs">
          <ul>
            <li class="is-active" data-target="product-details">
              <a>Consejos de lavandería</a>
            </li>
            <li data-target="delivery-information">
              <a>Modelos</a>
            </li>
            <li data-target="tallas">
              <a>Tallas</a>
            </li>
          </ul>
        </div>
  
        <div class="px-2" id="tab-content">
          <div id="product-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsa consequatur eos quibusdam, nesciunt dignissimos aut modi voluptatibus recusandae odit, harum assumenda sed veniam omnis deleniti et, distinctio magni.</p>
          </div>
          <!-- <div id="delivery-information" class="is-hidden">
            <h3 class="is-size-5 title">Delivery information</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ipsa consequatur eos quibusdam, nesciunt dignissimos aut modi voluptatibus recusandae odit, harum assumenda sed veniam omnis deleniti et, distinctio magni.</p>
          </div> -->
        </div>

      </div>
    </div>
  </div>
  
</div>

