<div>
  <div class="footer-items">
    <div class="item">
      <h1 class="title is-4"><span class="has-text-weight-light">Shop</span>Center</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quidem repellat hic eveniet ratione et labore quasi sit, non, amet, ut dolorem omnis facere? Voluptate dignissimos quidem dolore accusamus tenetur.</p>
    </div>
  
    <div class="item">
      <aside class="menu">
        <h2 class="menu-label">
          Useful Links
        </h2>
        <ul class="menu-list">
          <li><a>Become a Franchise</a></li>
          <li><a>Careers</a></li>
          <li><a>Sell with us</a></li>
          <li><a>Corporate Governance</a></li>
        </ul>
      </aside>
    </div>
  
    <div class="item">
      <aside class="menu">
        <h2 class="menu-label">
          Policy
        </h2>
        <ul class="menu-list">
          <li><a>Become a Franchise</a></li>
          <li><a>Careers</a></li>
          <li><a>Sell with us</a></li>
          <li><a>Corporate Governance</a></li>
        </ul>
      </aside>
    </div>
  
    <div class="item">
      <aside class="menu">
        <h2 class="menu-label">
          Help
        </h2>
        <ul class="menu-list">
          <li><a>Become a Franchise</a></li>
          <li><a>Careers</a></li>
          <li><a>Sell with us</a></li>
          <li><a>Corporate Governance</a></li>
        </ul>
      </aside>
    </div>
  </div>

  <div class="footer-dev">
    <span>
      © ShopCenter 2023 | Build by Carlos Interiano
    </span>
  </div>
</div>